body {
    padding: 0;
}
.wikipage {
    border: 1px solid black;
}
.wikipage .name {
    font-family: Helvetica, sans;
    font-size: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.template {
    display: inline;
}
.template .name {
    background-color: #ccc;
}
.hasbook.template .name {
    background-color: yellow;
    border: 1px dotted black;
}